<%= link_to 'Back', posts_path, class: "back-btn" %>

<div class='form-container'>
  <div class='information-container'>
    <div class='info'>
      <%= render 'form', post: @post %>
    </div>

  </div>
  <div class='edit-container'>
    <div>
    </div>
  </div>
</div>