<p style="color: green"><%= notice %></p>

<div class='main-body'>
  <div>
    <div class='heading-with-links'>
      <h1 id='title-heading'>The Nourished Notebook</h1>
      <div class='title-links'>
        <p>blog</p>
        <p>about</p>
        <p>contact</p>
      </div>
    </div>

    <div class='filter-main-body'>
      <div class='filter-links'>
        <p>all</p>
        <p>lifestyle</p>
        <p>gut health</p>
        <p>womens health</p>
        <p>recipes</p>
        <p>travels</p>
      </div>
    </div>

    <div id="posts">
      <div class='post-box-body'>
        <% @posts.each do |post| %>
          <%= link_to post do %>
            <div class='post-box'>
              <%= render post %>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>


    <%= link_to "New post", new_post_path %>
  </div>
</div>

