<p style="color: green"><%= notice %></p>

<%= render @post %>

<div>
  <%= link_to "Edit", edit_post_path(@post), class: "text-decoration-none" %> |
  <%= link_to "Back", posts_path, class: "text-decoration-none" %>
</div>
