.form-container {
  display: flex;
  width: 100%;
  height: 100%;
}

.information-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid black;
  border-radius: 10px;
  height: 100%;
  width: 25%;
  padding: 20px 10px;
  margin: 50px 100px;
}

.edit-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid black;
  border-radius: 10px;
  height: 100%;
  width: 75%;
  padding: 20px 10px;
  margin: 50px 80px;
}

.info {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5px 0;
  margin-bottom: 30px;
}

.info-labels {
  display: flex;
  flex-direction: column;
  padding: 2px 10px;
  margin-bottom: 25px;
  font-size: 1.1em;
  font-family: 'Open Sans', sans-serif;
  font-family: 'Playfair Display', serif;
}

.info-labels label {
  padding-bottom: 7px;
}

.info-title input {
  width: 200px;
  height: 20px;
}

.input-area-size {
  width: 283px;
  height: 71px;
}

.default-btn {
  border: 1px solid black;
  border-radius: 10px;
  font-family: 'Open Sans', sans-serif;
  font-family: 'Playfair Display', serif;
  background-color: white;
  color: black;
  padding: 2px 5px;
  margin: 2px 10px;
  cursor: pointer;
}