.filter-container {
  display: flex;
  justify-content: center;
}

.filter-main-body {
  margin-bottom: 64px;
  width: 39%;
}

.filter-links {
  display: flex;
  justify-content: space-around;
  border: 1px black solid;
  border-radius: 15px;
  font-family: 'Roboto', sans-serif;
}

.filter-select {
  font-weight: bold;
  font-style: italic;
}
