/* required files */
@import url(posts.css);
@import url(filter.css);

/* General */
* {
  padding: 0;
  margin: 0;
  text-decoration: none;
}

.main-body {
  margin: 5px;
}

/* Heading */
.heading-with-links {
  display: flex;
  text-align: center;
  justify-content: center;
  flex-direction: column;
  margin: 113px 20% 67px 20%;
  font-family: 'Open Sans', sans-serif;
  font-family: 'Playfair Display', serif;
}

#title-heading {
  font-size: 75px;
  font-weight: 400;
  font-style: normal;
}

.title-links {
  font-style: italic;
  font-weight: 400;
  font-size: 19px;
  display: flex;
  justify-content: space-between;
  padding: 0 15px;
}