/* required files */
@import url(posts.css);
@import url(filter.css);

/* General */
* {
  padding: 0;
  margin: 0;
}

.main-body {
  display: flex;
  justify-content: center;
  padding-top: 113px;
  text-align: center;
}

/* Heading */
.heading-with-links {
  margin-bottom: 92px;
}

#title-heading {
  font-family: 'Open Sans', sans-serif;
  font-family: 'Playfair Display', serif;
  font-size: 75px;
  font-weight: 400;
  
}

.title-links {
  font-family: 'Open Sans', sans-serif;
  font-family: 'Playfair Display', serif;
  font-style: italic;
  font-weight: 400;
  font-size: 19px;
  display: flex;
  justify-content: space-between;
}